.command_res{
    font-family:Georgia, 'Times New Roman', Times, serif;
    direction: ltr;
    text-align: left;
    padding-left: 10px;
    background-color: black;
    color: chartreuse;
}

.trclass{
    cursor: pointer;
}

.trclass:hover{
    cursor: pointer;
    background-color:rgb(154, 182, 199);
}

.border-info {
    box-shadow: 3px 2px 18px 4px #A2C5FF; 
    padding: 5px;
    margin-top: 15px;
    }

.direction{
    direction: ltr;
}


@keyframes p-progress-spinner-color {
    100%,
    0% {
        stroke: #d62d20;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #008744;
    }
    80%,
    90% {
        stroke: #ffa700;
    }
}

.ping_tr{
    border-style: groove;
    background-color: aliceblue;
}