<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header" style="text-align: center;">
          User Management Panel
          <i class="pi pi-plus-circle" style="font-size: 2rem; float: right; cursor: pointer;" pTooltip="Add User"
            tooltipPosition="left" (click)="add_user()"></i>
        </div>
        <div>
            <div class="disabled" *ngIf = "progressSpinner"></div>
            <p-fieldset   [toggleable]="true" [collapsed]="true"  [transitionOptions]="'200ms'">               
              <p-header>User Search</p-header>
            <p-table styleClass="p-datatable-striped" #dt1 [value]="users" selectionMode="single" >
              <ng-template pTemplate="header">
                <tr class="row-accessories">
                  <th>
                      <input pInputText type="text" (input)="dt1.filter($event.target.value, 'username', 'contains')" [value]="dt1.filters['username']?.value" placeholder="Search by Username" class="p-column-filter">
                  </th>
                  <th>
                      <input pInputText type="text" (input)="dt1.filter($event.target.value, 'first_name', 'contains')" [value]="dt1.filters['first_name']?.value" placeholder="Search by First Name" class="p-column-filter">
                  </th>
                  <th>
                      <input pInputText type="text" (input)="dt1.filter($event.target.value, 'last_name', 'contains')" [value]="dt1.filters['last_name']?.value" placeholder="Search by Last Name" class="p-column-filter">
                  </th>
                </tr>
              </ng-template>
            </p-table>
            </p-fieldset>
          </div>
        <div class="card-body" class="border" style="margin: 10px;" >
            <p-table styleClass="p-datatable-striped" #dt1 [value]="users" selectionMode="single" >
                <ng-template pTemplate="header">
      
                  <tr class="row-accessories">
                    <th pSortableColumn="username">User Name<p-sortIcon field="username" style="text-align: center;"></p-sortIcon>
                    </th>
                    <th pSortableColumn="first_name">First Name <p-sortIcon field="first_name"></p-sortIcon>
                    </th>
                    <th pSortableColumn="last_name">Last Name <p-sortIcon field="last_name"></p-sortIcon>
                    </th>
                    <th pSortableColumn="reseller_info.text">Reseller<p-sortIcon field="reseller_info.text"></p-sortIcon>
                    </th>
                    <th pSortableColumn="type">Type<p-sortIcon field="type"></p-sortIcon>
                    </th>
                    <th pSortableColumn="is_active">Active<p-sortIcon field="is_active"></p-sortIcon>
                    </th>
                    <th pSortableColumn="last_login">Last Login<p-sortIcon field="last_login"></p-sortIcon>
                    </th>
                    <th pSortableColumn="address">Action<p-sortIcon field="name"></p-sortIcon>
                    </th>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                  <tr>
                    <td class="text-center">{{user.username}}</td>
                    <td class="text-center">{{user.first_name}}</td>
                    <td class="text-center">{{user.last_name}}</td>
                    <td class="text-center" *ngIf="user.reseller_info">{{user.reseller_info.text}}</td>
                    <td class="text-center" *ngIf="!user.reseller_info">--</td>
                    <td class="text-center">{{user.type}}</td>
                    <td class="text-center">{{user.is_active}}</td>
                    <td class="text-center">{{user.last_login}}</td>
                    <td class="text-center">
      
                      <div class="col-md-12" style="padding-left: 40%">
                        <div class="row" *ngIf="permission.permissions">
                          <img *ngIf="permission.permissions.includes('edit_users') || permission.user_type == 'ADMIN'" src="\assets\img\brand\edit_icon.png" (click)="edit_user(user.id)" width="20"
                            pTooltip="User Edit" tooltipPosition="top" style="cursor: pointer;margin: 5px;" />
                          <img *ngIf="permission.permissions.includes('delete_users') || permission.user_type == 'ADMIN'" src="\assets\img\brand\remove_icon.png" width="20" pTooltip="Remove User"
                            tooltipPosition="top" style="cursor: pointer;margin: 5px;" label="Delete" (click)="remove_user(user.id)" />
                        </div>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
              <p-paginator [rows]="10" [totalRecords]="pagination_config.totalItems" (onPageChange)="pageChange_srch($event)"
                [rowsPerPageOptions]="[10,20,30]"></p-paginator>
        </div>
    </div>
</div>
</div>

<!-- Delete ----------------------------------------------------------------------------------------------- -->

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<div style="position: absolute; z-index: 1000; margin-top: 15%;margin-left: 45%;">
  <p-progressSpinner *ngIf="progressSpinner == true"></p-progressSpinner>
</div>

<!-- END ----------------------------------------------------------------------------------------------------->

<!-- Add User Management ---------------------------------------------------------------------------------- -->

<p-dialog header="Add User Management" [(visible)]="displayMaximizable_add" [modal]="true" [style]="{width: '50vw'}"
  [maximizable]="true" [baseZIndex]="10001" [draggable]="false" [resizable]="false">
    <div class="border-info" style="padding: 10px;">
        <form [formGroup]="add_user_from" #f="ngForm" (ngSubmit)="apply_add_user(this.add_user_from)">
            <div class="row">
                <div class="col-md-6">
                    <span class="p-float-label" style="margin-top: 20px;">
                        <input id="float-input" formControlName="email" type="text" pInputText>
                        <label for="float-input">Email</label>
                    </span>
                    <br>
                    <span class="p-float-label" style="margin-top: 20px;">
                        <input id="float-input" formControlName="first_name" type="text" pInputText>
                        <label for="float-input">First Name</label>
                    </span>
                    <br>
                    <span class="p-float-label" style="margin-top: 20px;">
                      <input id="float-input" formControlName="last_name" type="text" pInputText>
                      <label for="float-input">Last Name</label>
                    </span>
                    <br>
                    <span class="p-float-label" style="margin-top: 20px;">
                        <span>
                          <p-dropdown [options]="types" [(ngModel)]="selectfilter"
                           (onChange)="get_types($event)" formControlName="type" optionLabel="name" placeholder="Select a Type"></p-dropdown>
                        </span>
                    </span>
                </div>
                <div class="col-md-6">
                  <span class="p-float-label" style="margin-top: 20px;">
                      <input id="float-input" formControlName="username" type="text" pInputText>
                      <label for="float-input">Username</label>
                  </span>
                  <br>
                      <span class="p-float-label" style="margin-top: 20px;">
                        <input id="float-input" type="password" class="form-control" formControlName="password" pPassword />
                        <label for="float-input">Password</label>
                      </span>
                    <br>
                      <span class="p-float-label" style="margin-top: 20px;">
                        <input id="float-input" type="password" class="form-control" formControlName="confirm_password" pPassword />
                        <label for="float-input">Confirm Password</label>
                      </span>
                      <br>
                    <span class="p-float-label" style="margin-top: 20px;">
                        <p-inputNumber formControlName="tel" mode="decimal" inputId="withoutgrouping" [useGrouping]="false"></p-inputNumber>
                        <label for="float-input">Tel</label>
                    </span>
                    <br>
                    <span>
                      <div class="p-field-checkbox">
                        <p-checkbox binary="true" inputId="binary" label="Active"></p-checkbox>
                        <label for="binary"></label>
                      </div>
                    </span>
                </div>
            </div>
            <br>
            <p-button icon="pi pi-check" type="submit" label="Submit" styleClass="p-button-text"></p-button>
        </form>
    </div>
</p-dialog>


<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Edit ------------------------------------------------------------------------------------------------ -->

<p-dialog header="User Edit" [(visible)]="displayMaximizable_edit" [modal]="true" [style]="{width: '50vw'}"
  [maximizable]="true" [baseZIndex]="10000" [draggable]="true" [resizable]="false">
  <div class="border-info" style="padding: 10px;">
        <form [formGroup]="edit_user_from" (ngSubmit)="apply_edit_user()">
            <div class="row">
                <div class="col-md-6">
                    <span class="p-float-label" style="margin-top: 20px;">
                        <input id="float-input" [(ngModel)]="user_edit.first_name" formControlName="first_name" type="text" pInputText>
                        <label for="float-input">First Name</label>
                    </span>
                    <br>
                    <span class="p-float-label" style="margin-top: 20px;">
                      <input id="float-input" [(ngModel)]="user_edit.last_name" formControlName="last_name" type="text" pInputText>
                      <label for="float-input">Last Name</label>
                    </span>
                    <br>
                    <span class="p-float-label" style="margin-top: 20px;">
                      <input id="float-input" [(ngModel)]="user_edit.username" formControlName="username" type="text" pInputText>
                      <label for="float-input">User Name</label>
                    </span>
                    <br>
                    <span class="p-float-label" style="margin-top: 20px;">
                        <input id="float-input" [(ngModel)]="user_edit.email" formControlName="email" type="text" pInputText>
                        <label for="float-input">Email</label>
                    </span>
                </div>
                <div class="col-md-6">
                    <span class="p-float-label" style="margin-top: 20px;">
                        <input id="float-input" [(ngModel)]="user_edit.tel" mode="decimal" inputId="withoutgrouping" formControlName="tel" type="text" pInputText>
                        <label for="float-input">Tel</label>
                    </span>
                    <br>
                    <span class="p-float-label" style="margin-top: 20px;">
                      <span>
                        <p-dropdown [options]="types" [(ngModel)]="selectfilter"
                         (onChange)="get_types($event)" formControlName="type" optionLabel="name" placeholder="Select a Type"></p-dropdown>
                      </span>
                    </span>
                    <br>
                      <span *ngIf=" reseller_info == true ">
                          <ng-autocomplete [data]="listResellers" [searchKeyword]="reseller_keyword" placeHolder="Resseler"
                                      (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)'
                                      (inputFocused)='onFocused($event)' historyIdentifier="listResellers" [itemTemplate]="resellerTemplate"
                                      [notFoundTemplate]="notFoundTemplate" formControlName="reseller">
                          </ng-autocomplete>
                          <ng-template #resellerTemplate let-listReseller>
                              <a [innerHTML]="listReseller.name"></a>
                          </ng-template>
                      </span>
                    <br>
                    <br>
                    <span>
                      <div class="p-field-checkbox">
                        <p-checkbox binary="true" inputId="binary" label="Active" [(ngModel)]="user_edit.is_active" [ngModelOptions]="{standalone: true}"></p-checkbox>
                        <label for="binary"></label>
                      </div>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <ng-template pTemplate="footer">
      <p-button icon="pi pi-check" (click)="apply_edit_user(user_edit)" label="Edit" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog> 

<!-- ------------------------------------------------------------------------------------------------------ -->
