.background{
    background-color: #cccccc;
}

.border-info {
    box-shadow: 3px 2px 18px 4px #A2C5FF; 
    padding: 5px;
    margin-top: 15px;
    }

.version {
    margin-top: -9%;
    width: 22%;
    margin-left: 80%;
    text-align: center;
    box-shadow: -4px 4px 8px 0px #2d1dad;

    }