


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" style="text-align: center;">
                User Permissions Panel
                <span>
                    <i class="pi pi-plus-circle" style="font-size: 2rem; float: right; cursor: pointer;"
                        pTooltip="Add Permission" tooltipPosition="left" (click)="show_add_Permission()"></i>
                </span>
            </div>
            <div>
                <p-fieldset   [toggleable]="true" [collapsed]="true"  [transitionOptions]="'200ms'">               
                  <p-header>Search</p-header>
                <p-table styleClass="p-datatable-striped" #dt1 [value]="listDslams" selectionMode="single" >
                  <ng-template pTemplate="header">
                    <tr class="row-accessories border" style="margin: 10px;" >
                      <th>
                        <input pInputText type="text" [(ngModel)]="username" (keyup)="get_user_permission_info(username)"
                          placeholder="Search by Name" class="p-column-filter"  pTooltip="Search by Name"
                          tooltipPosition="top">
                      </th>

                    </tr>
                  </ng-template>
                </p-table>
                </p-fieldset>
              </div>
            <div class="card-body" class="border" style="margin: 10px;">
                <p-table styleClass="p-datatable-striped" #dt1 [value]="users_permissions" selectionMode="single">
                    <ng-template pTemplate="header">

                        <tr class="row-accessories">
                            <th pSortableColumn="user_info.username">Username<p-sortIcon field="user_info.username"
                                    style="text-align: center;"></p-sortIcon>
                            </th>
                            <th pSortableColumn="permission_profile_name">Permission Profile <p-sortIcon
                                    field="permission_profile_name" style="text-align: center;"></p-sortIcon>
                            </th>
                            <th>Dslam</th>
                            <th>Command</th>
                            <th>Action</th>
                            <th>Is Active</th>
                            <th>Actions</th>
                        </tr>

                    </ng-template>
                    <ng-template pTemplate="body" let-permission>
                        <tr>
                            <td class="text-center" *ngIf="permission.user_info">{{permission.user_info.username}}</td>
                            <td class="text-center">{{permission.permission_profile_name}}</td>
                            <td class="text-center">
                              <img src="\assets\img\brand\permission.png" width="30"
                              pTooltip="View permissions" tooltipPosition="top" style="cursor: pointer;" (click) = 'get_user_permission_profile(permission.id, 1)' />
                            </td>
                            <td class="text-center">
                              <img src="\assets\img\brand\permission.png" width="30"
                              pTooltip="View permissions" tooltipPosition="top" style="cursor: pointer;" (click) = 'get_user_permission_profile(permission.id, 2)'/>
                            </td>
                            <td class="text-center">
                              <img src="\assets\img\brand\permission.png" width="30"
                              pTooltip="View permissions" tooltipPosition="top" style="cursor: pointer;" />
                            </td>
                            <td class="text-center">

                                <img *ngIf="permission.is_active" src="\assets\img\brand\true.png" width="20"
                                     pTooltip="Active" tooltipPosition="top" />
                                <img *ngIf="!permission.is_active" src="\assets\img\brand\false.png" width="20"
                                pTooltip="View permissions" tooltipPosition="top" style="cursor: pointer;" />

                            </td>
                            <td class="text-center">

                                <div class="col-md-12" style="padding-left: 40%">
                                  <div class="row">
                                       <img src="\assets\img\brand\edit_icon.png" (click)="edit_permissions(permission.id, permission.user, permission.permission_profile, permission.id)" width="20"
                                      pTooltip="Edit Permission" tooltipPosition="top" style="cursor: pointer;margin: 5px;" />
                                    <img src="\assets\img\brand\remove_icon.png" width="20" pTooltip="Remove Permission"
                                      tooltipPosition="top" style="cursor: pointer;margin: 5px;" label="Confirm" (click)="remove_Permission(Permission.id)" />
                                  </div>
                                </div>
                              </td>
                        </tr>
                    </ng-template>
                </p-table>
                <p-paginator [rows]="10" [totalRecords]="pagination_config.totalItems" (onPageChange)="paginate($event)"
                [rowsPerPageOptions]="[10,20,30]"></p-paginator>
            </div>
        </div>
    </div>
</div>


<p-dialog header="Dslam Permission Profile" [(visible)]="view_user_dslam_permission_profile" [modal]="true" [style]="{width: '50vw', height: '100vw'}"
  [maximizable]="true" [baseZIndex]="10001" [draggable]="false" [resizable]="true">
  <div class="border-info">
    <div class="row">
      <div class="col-md-12">
        <div style="height: 200px;">
          <p-multiSelect [options]="dslam_permissions" [style]="{'width': '100%'}" [(ngModel)]="selected_dslamPermissions" (onChange)="onChange($event)" optionLabel="object_name" display="chip"></p-multiSelect>
            <div *ngFor="let user_permission of user_permissions;" style="float: left; margin: 2px;">
              <button *ngIf="user_permission.model_type=='dslam'" aria-pressed="true" class="btn btn-block btn-outline-primary active card" type="button"
              (click)="getTemperature(slot.card_number)">{{user_permission.object_name}}</button> 
             </div>
        </div>
      </div>
    </div>
  </div>
</p-dialog>


<p-dialog header="Command Permission Profile" [(visible)]="view_user_command_permission_profile" [modal]="true" [style]="{width: '50vw', height: '100vw'}"
  [maximizable]="true" [baseZIndex]="10001" [draggable]="false" [resizable]="true">
  <div class="border-info">
    <div class="row">
      <div class="col-md-12">
        <div style="height: 200px;">
          <p-multiSelect [options]="command_permissions" [style]="{'width': '100%'}" [(ngModel)]="selected_commandPermissions" (onChange)="onChange($event)" optionLabel="object_name" display="chip"></p-multiSelect>
          <div *ngFor="let user_permission of user_permissions;" style="float: left; margin: 2px;">
            <button *ngIf="user_permission.model_type=='command'" aria-pressed="true" class="btn btn-block btn-outline-primary active card" type="button"
            (click)="getTemperature(slot.card_number)">{{user_permission.object_name}}</button> 
           </div>
        </div>
      </div>
    </div>
  </div>
</p-dialog>


<p-dialog header="Add Permission Profile" [(visible)]="add_permission_profile" [modal]="true" [style]="{width: '30vw'}"
  [maximizable]="true" [baseZIndex]="10000" [draggable]="true" [resizable]="false">
</p-dialog>

<p-dialog header="Edit Permissions" [(visible)]="edit_permission_profile_view" [modal]="true" [style]="{width: '70vw'}"
  [maximizable]="true" [baseZIndex]="10000" [draggable]="true" [resizable]="false">
  <div class="border-info">
    <div class="row">
      <div class="col-md-12">
        <div style="height: 200px;">
          <p-multiSelect [options]="commands" [(ngModel)]="selected_commands" [style]="{'width': '100%'}" optionLabel="name" display="chip" (onPanelShow)="get_all_commands()" (onChange)="assign_commands_to_user(selected_commands)"></p-multiSelect>
        </div>
        <div class="col-md-10">
        </div>
        <div class="col-md-2">
          <button aria-pressed="true" style="width: 50%;" class="btn btn-block btn-outline-primary active card" type="button"
          (click)="getTemperature(slot.card_number)">
                  <span style="text-align: center;">Add Commands</span>
          </button> 
        </div>
        <!-- <hr>
        <hr>

        <div style="height: 200px;">
          <p-multiSelect [options]="command_permissions" [style]="{'width': '100%'}" [(ngModel)]="selected_commandPermissions" (onChange)="onChange($event)" optionLabel="object_name" display="chip"></p-multiSelect>
          <div *ngFor="let user_permission of user_permissions;" style="float: left; margin: 2px;">
            <button *ngIf="user_permission.model_type=='command'" aria-pressed="true" class="btn btn-block btn-outline-primary active card" type="button"
            (click)="getTemperature(slot.card_number)">{{user_permission.object_name}}</button> 
           </div>
        </div> -->
      </div>
    </div>
  </div>
</p-dialog>