<div class="row" style="direction: rtl; text-align: center;">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          عملیات
        </div>
        <div class="glowing-border">
          <div class="card-body">
            <div class="col-md-12 mb-4">
                <tabset>
                    <tab>
                      <ng-template tabHeading><i class="icon-calculator"></i> اجرای دستور روی رادیو </ng-template>
                      <div class="row">
                        <div class="ng-autocomplete col-md-3" style="direction: ltr;">
                          <ng-autocomplete [data]="radio_commands" [searchKeyword]="keyword" placeHolder="Enter the Command"
                            (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)'
                            (inputFocused)='get_radio_commands($event, 10)' historyIdentifier="radio_commands" [itemTemplate]="itemTemplate"
                            [notFoundTemplate]="notFoundTemplate">
                          </ng-autocomplete>
      
                          <ng-template #itemTemplate let-item>
                            <a [innerHTML]="item.radio_command_text"></a>
                          </ng-template>
      
                          <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                          </ng-template>
                        </div>
                        <div class="col-md-3">
                          <!-- <button pButton type="button" style="margin-right: 0; float: right;"
                            (click)="switch_run_command(radio_id, comm_item.radio_command_text, params)" label="Run" [disabled]="!show_result"></button> -->
                        </div>
                        <div class="col-md-6">
                          <div class="col-md-12">
                            <p-card header="Command Result">
                              <hr />
                              <div *ngIf="show_result" class="res_div_disabled border">
                                <!--<p-progressSpinner></p-progressSpinner>-->
                                 <div *ngIf="commandRes">
                                   <div *ngFor="let res_item of commandRes" class="command_res">{{res_item}}</div>
                                   
                                 </div>
                              </div>
                              <div *ngIf="show_result" class="res_div border">
                                    
                                <pre>
                               </pre>
                              </div>
                            </p-card>
                          </div>
                        </div>
      
                      </div>
                      <div>
                        <hr />
                      </div>
                        <div class="card-body" class="border" style="margin: 10px;" *ngIf="show_backup_files" >
                          <p-table styleClass="p-datatable-striped" #dt1 [value]="filenames" selectionMode="single">
                              <ng-template pTemplate="header">         
                                <tr class="row-accessories" style="text-align:center;">
                                  <th pSortableColumn="file_name" style="text-align:center;">Name<p-sortIcon field="file_name" style="text-align: center;"></p-sortIcon>
                                  </th>
                                  <th pSortableColumn="file_date" style="text-align:center;">Date<p-sortIcon field="file_date" style="text-align: center;"></p-sortIcon>
                                  </th>
                                  <th style="text-align:center;">File
                                  </th>
                                </tr>
                              </ng-template>
                              <ng-template pTemplate="body" let-filename>
                                  <tr>
                                    <td class="text-center" style="direction: ltr;">{{filename.file_name}}</td>
                                    <td class="text-center"> {{filename.file_date}}</td>
                                    <td style="text-align:center;">
                                      <img src="\assets\img\brand\download_icon.png" width="20" pTooltip="Download Backup File"
                                      tooltipPosition="top" style="cursor: pointer;margin: 5px;" label="Confirm" (click)="view_backup(filename.file_name)" download />
                                  </td>
                                </tr>
                              </ng-template>
                          </p-table>
                      </div>
                    </tab>
                </tabset>
            </div>
            </div>
        </div>
        </div>
    </div>
<div>
</div>
</div>



<p-dialog header="Switch Backup" [(visible)]="view_backup_file" [modal]="true" [style]="{width: '30vw'}"
  [maximizable]="true" [baseZIndex]="10001" [draggable]="false" [resizable]="false">
  <div class="border-info">
    <div class="row">
      <div class="col-md-12">
      <pre>
        {{bakup_text}}
      </pre>
      </div>
    </div>
  </div>
</p-dialog>