<div class="row" style="direction: rtl; text-align: center;">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          عملیات
        </div>
        <div class="glowing-border">
          <div class="card-body">
            <div class="col-md-12 mb-4">
                <tabset>
                    <tab>
                      <ng-template tabHeading><i class="icon-calculator"></i> اجرای دستور روی سوئیچ </ng-template>
                      <div class="row">
                        <div class="ng-autocomplete col-md-3" style="direction: ltr;">
                          <ng-autocomplete [data]="commandObj" [searchKeyword]="keyword" placeHolder="Enter the Command"
                            (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)'
                            (inputFocused)='onFocused($event)' historyIdentifier="commandObj" [itemTemplate]="itemTemplate"
                            [notFoundTemplate]="notFoundTemplate">
                          </ng-autocomplete>
      
                          <ng-template #itemTemplate let-item>
                            <a [innerHTML]="item.name"></a>
                          </ng-template>
      
                          <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                          </ng-template>
                        </div>
                        <div class="col-md-3">
                          <button pButton type="button" style="margin-right: 0; float: right;"
                            (click)="run_command(comm_item)" label="Run" [disabled]="!show_result"></button>
                        </div>
                        <div class="col-md-6">
                          <div class="col-md-12">
                            <p-card header="Command Result">
                              <hr />
                              <div *ngIf="!show_result" class="res_div_disabled border">
                                <!--<p-progressSpinner></p-progressSpinner>-->
                              </div>
                              <div *ngIf="show_result" class="res_div border">
      
                                <pre>
                               </pre>
                              </div>
                            </p-card>
                          </div>
                        </div>
      
                      </div>
                    </tab>
                </tabset>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>