
<!--EDIT DSLAM Dialog---------------------------------------------------------------->
<p-dialog header="DLSMA Edit" [(visible)]="displayMaximizable" [modal]="true" [style]="{width: '50vw'}"
  [maximizable]="true" [baseZIndex]="10000" [draggable]="true" [resizable]="false">
  <div class="border-info" style="padding: 10px;">
  <form>
    <div class="row">
      <div class="col-md-6">
        <span *ngIf = 'dslam_edit.telecom_center_info'>
          <p-autoComplete [(ngModel)]="dslam_edit.telecom_center_info.city_info" [ngModelOptions]="{standalone: true}" [suggestions]="listProvince"
            (completeMethod)="getProvinces($event)" [dropdown]="true" field="text"
            (onSelect)="get_city_by_name($event.id)">

          </p-autoComplete>
        </span>
        <hr />
        <span class="p-float-label" style="margin-top: 20px;">
          <span *ngIf = 'dslam_edit.telecom_center_info'>
            <p-autoComplete [(ngModel)]="dslam_edit.telecom_center_info" [ngModelOptions]="{standalone: true}" [suggestions]="listTelecom"
              (completeMethod)="getTelecomCenterByCityId(dslam_edit.telecom_center_info.city)" [dropdown]="true" field="name" dataKey="id" 
              (onSelect)="get_city_by_name($event.id)">
            </p-autoComplete>
          </span>
        </span>
        <hr />
        <span class="p-float-label" style="margin-top: 20px;">
          <input id="float-input" [(ngModel)]="dslam_edit.get_snmp_community" [ngModelOptions]="{standalone: true}" type="text" pInputText [value]="dslam_edit.get_snmp_community">
          <label for="float-input">Get Snmp Community</label>
        </span>
        <hr />
        <span class="p-float-label" style="margin-top: 20px;">
          <input id="float-input" [(ngModel)]="dslam_edit.set_snmp_community" [ngModelOptions]="{standalone: true}" type="text" pInputText [value]="dslam_edit.set_snmp_community">
          <label for="float-input">Set Snmp Community</label>
        </span>
        <hr />
        <span class="p-float-label" style="margin-top: 20px;">
          <input id="float-input" [(ngModel)]="dslam_edit.telnet_username" [ngModelOptions]="{standalone: true}" type="text" pInputText [value]="dslam_edit.telnet_username">
          <label for="float-input">Telnet Username</label>
        </span>
        <hr />
        <span class="p-float-label" style="margin-top: 20px;">
          <input id="float-input" [(ngModel)]="dslam_edit.ip" [ngModelOptions]="{standalone: true}" type="text" pInputText [value]="dslam_edit.ip">
          <label for="float-input">IP</label>
        </span>
        <hr />
        <span class="p-float-label" style="margin-top: 20px;">
          <input id="float-input" [(ngModel)]="dslam_edit.pishgaman_vpi" [ngModelOptions]="{standalone: true}" type="text" pInputText [value]="dslam_edit.pishgaman_vpi">
          <label for="float-input">VPI</label>
        </span>
        <hr />
        <span class="p-float-label" style="margin-top: 20px;">
          <input id="float-input" [(ngModel)]="dslam_edit.pishgaman_vci" [ngModelOptions]="{standalone: true}" type="text" pInputText [value]="dslam_edit.pishgaman_vci">
          <label for="float-input">VCI</label>
        </span>
        <hr />
      </div>
      <div class="col-md-6">
        <span *ngIf = 'dslam_edit.telecom_center_info'>
          <p-autoComplete [(ngModel)]="dslam_edit.telecom_center_info.city_info" [ngModelOptions]="{standalone: true}" [suggestions]="listCites"
            (completeMethod)="get_city_by_name($event)" [dropdown]="true" field="name" dataKey="id">
          </p-autoComplete>
        </span>
        <hr/>
        <span class="p-float-label" style="margin-top: 20px;">
          <input id="float-input" [(ngModel)]="dslam_edit.name" [ngModelOptions]="{standalone: true}" type="text" pInputText [value]="dslam_edit.name">
          <label for="float-input">Dslam Name</label>
        </span>
        <hr />
        <span class="p-float-label" style="margin-top: 20px;">
          <input id="float-input" [(ngModel)]="dslam_edit.snmp_port" [ngModelOptions]="{standalone: true}" type="text" pInputText [value]="dslam_edit.snmp_port">
          <label for="float-input">Snmp Port</label>
        </span>
        <hr />
        <span class="p-float-label" style="margin-top: 20px;">
          <input id="float-input" [(ngModel)]="dslam_edit.snmp_timeout" [ngModelOptions]="{standalone: true}" type="text" pInputText [value]="dslam_edit.snmp_timeout">
          <label for="float-input">Snmp Timeout</label>
        </span>
        <hr />
        <span class="p-float-label" style="margin-top: 20px;">
          <input id="float-input" [(ngModel)]="dslam_edit.telnet_password" [ngModelOptions]="{standalone: true}" type="text" pInputText [value]="dslam_edit.telnet_password">
          <label for="float-input">Telnet Password</label>
        </span>
        <hr />
        <span class="p-float-label" style="margin-top: 20px;">
          <input id="float-input" [(ngModel)]="dslam_edit.fqdn" [ngModelOptions]="{standalone: true}" type="text" pInputText [value]="dslam_edit.fqdn">
          <label for="float-input">Fqdn</label>
        </span>
        <hr />
        <span class="p-float-label" style="margin-top: 20px;">
          <input id="float-input" [(ngModel)]="dslam_edit.pishgaman_vlan" [ngModelOptions]="{standalone: true}" type="text" pInputText [value]="dslam_edit.pishgaman_vlan">
          <label for="float-input">VLAN</label>
        </span>
        <hr />
        <p-inputSwitch [(ngModel)]="dslam_edit.active" [ngModelOptions]="{standalone: true}"></p-inputSwitch>
        <hr />
      </div>
    </div>
  </form>
</div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="apply_edit(dslam_edit)" label="Edit" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>


<!--ADD DSLAM Dialog---------------------------------------------------------------->
<p-dialog header="Add DSLAM" [(visible)]="displayMaximizable2" [modal]="true" [style]="{width: '50vw'}"
  [maximizable]="true" [baseZIndex]="10001" [draggable]="false" [resizable]="false">
  <form [formGroup]="add_dslam_from" (ngSubmit)="apply_add_dslam($event)">
    <div class="row">
      <div class="col-md-6">
        <span>
          <p-autoComplete formControlName="province"  placeholder="Province" [suggestions]="listProvince"
            (completeMethod)="getProvinces($event)" (onSelect)="get_city_by_name($event.id)" dataKey="id"  [dropdown]="true" field="text">
          </p-autoComplete>
        </span>
        <hr />
        <span class="p-float-label" style="margin-top: 20px;">
            <p-autoComplete formControlName="telecom" placeholder="TelecomCenter" [suggestions]="listTelecom"
              (completeMethod)="getTelecomCenterByCityId($event)" [dropdown]="true" field="name" dataKey="id">
            </p-autoComplete>
        </span>
        <hr />
        <span class="p-float-label" style="margin-top: 20px;">
          <p-autoComplete formControlName="dslam_type" placeholder="Dslam Type" [suggestions]="listDslamType"
            (completeMethod)="get_dslam_types()" (onSelect)="get_dslam_type($event.id)" [dropdown]="true" field="name" dataKey="id">
          </p-autoComplete>
      </span>
       <hr />
        <span class="p-float-label" style="margin-top: 20px;">
          <input id="float-input" formControlName="get_snmp_community" [ngClass]="{ 'is-invalid': submitted && f.get_snmp_community.errors }"  type="text" pInputText>
          <label for="float-input">Get Snmp Community</label>
        </span>
        <hr />
        <span class="p-float-label" style="margin-top: 20px;">
          <input id="float-input" formControlName="set_snmp_community" [ngClass]="{ 'is-invalid': submitted && f.set_snmp_community.errors }" type="text" pInputText>
          <label for="float-input">Set Snmp Community</label>
        </span>
        <hr />
        <span class="p-float-label" style="margin-top: 20px;">
          <input id="float-input" formControlName="telnet_username" [ngClass]="{ 'is-invalid': submitted && f.telnet_username.errors }" type="text" pInputText>
          <label for="float-input">Telnet Username</label>
        </span>
        <hr />
        <span class="p-float-label" style="margin-top: 20px;">
          <input id="float-input" formControlName="ip" [ngClass]="{ 'is-invalid': submitted && f.ip.errors }" type="text" pInputText>
          <label for="float-input">IP</label>
        </span>
        <hr />
        <span class="p-float-label" style="margin-top: 20px;">
          <input id="float-input" formControlName="dslam_lat" type="text" [ngClass]="{ 'is-invalid': submitted && f.dslam_lat.errors }" pInputText>
          <label for="float-input">Latitude</label>
        </span>
        <hr />
      </div>
      <div class="col-md-6">
          <p-autoComplete 
            (completeMethod)="get_city_by_id($event)" (onSelect)="get_telecom_by_name($event.id)" placeholder="City Name" [suggestions]="listCites" [dropdown]="true" field="name" dataKey="id">
          </p-autoComplete>
        <hr/>
        <span class="p-float-label" style="margin-top: 20px;">
          <input id="float-input" formControlName="dslam_name" [ngClass]="{ 'is-invalid': submitted && f.dslam_name.errors }" id="dslam_name" name="dslam_name" type="text" pInputText>
          <label for="float-input">Dslam Name</label>
          <div *ngIf="submitted && f.dslam_name.errors" class="invalid-feedback">
            <div *ngIf="f.dslam_name.errors.required"></div>
        </div>
        </span>
        <hr />
        <span class="p-float-label" style="margin-top: 20px;">
          <p-autoComplete formControlName="connection_type" placeholder="Connection Type" [suggestions]="listConnectionTypes"
            (completeMethod)="get_connection_types()" (onSelect)="get_connection_type($event.id)" [dropdown]="true" field="name" dataKey="id">
          </p-autoComplete>
      </span>
       <hr />
        <span class="p-float-label" style="margin-top: 20px;">
          <input id="float-input"  formControlName="snmp_port" [ngClass]="{ 'is-invalid': submitted && f.snmp_port.errors }" type="text" pInputText>
          <label for="float-input">Snmp Port</label>
        </span>
        <hr />
        <span class="p-float-label" style="margin-top: 20px;">
          <input id="float-input" formControlName="snmp_timeout" [ngClass]="{ 'is-invalid': submitted && f.snmp_timeout.errors }" type="text" pInputText>
          <label for="float-input">Snmp Timeout</label>
        </span>
        <hr />
        <span class="p-float-label" style="margin-top: 20px;">
          <input id="float-input" formControlName="telnet_password" [ngClass]="{ 'is-invalid': submitted && f.telnet_password.errors }" type="text" pInputText>
          <label for="float-input">Telnet Password</label>
        </span>
        <hr />
        <span class="p-float-label" style="margin-top: 20px;">
          <input id="float-input" formControlName="fqdn" type="text" [ngClass]="{ 'is-invalid': submitted && f.fqdn.errors }" pInputText>
          <label for="float-input">Fqdn</label>
        </span>
        <hr />
        <span class="p-float-label" style="margin-top: 20px;">
          <input id="float-input" formControlName="dslam_long" type="text" [ngClass]="{ 'is-invalid': submitted && f.dslam_long.errors }" pInputText>
          <label for="float-input">Longitude</label>
        </span>
        <hr />
        <p-inputSwitch formControlName="enabled" [(ngModel)]="enabled"></p-inputSwitch>

        <hr />
      </div>
    </div>
    <p-button icon="pi pi-check" type="submit" label="Add Dslam" styleClass="p-button-text"></p-button>
    <p-button icon="pi pi-check" type="submit" label="Clear Form" (click)="onReset()" styleClass="p-button-text"></p-button>
    <div *ngIf="add_dslam_from.invalid && submitted">
      <hr />
      <p style="color: red;">Please Complete Required Fields.</p>
    </div>
  </form>
</p-dialog>


<!-- DSLAM Info Dialog---------------------------------------------------------------->
<p-dialog header="DSLAM Info" [(visible)]="displayMaximizable3" [modal]="true" [style]="{width: '30vw'}"
  [maximizable]="true" [baseZIndex]="10001" [draggable]="false" [resizable]="false">
  <div class="border-info">
  <div class="row">
    <div class="col-md-6">
      <span style="text-align: center; font-family: Iranian_Sans;">
        <label for="float-input">Dslam Name:</label>
        <div class="p-d-flex">{{dslam_show_info.name}}</div> <hr />
        <label for="float-input">Get Snmp Community:</label>
        <div class="p-d-flex">{{dslam_show_info.get_snmp_community}}</div> <hr />
        <label for="float-input">Telnet Username:</label>
        <div class="p-d-flex">{{dslam_show_info.telnet_username}}</div> <hr />
        <label for="float-input">IP:</label>
        <div class="p-d-flex">{{dslam_show_info.ip}}</div> <hr />
        <label for="float-input">Province:</label>
        <div class="p-d-flex" *ngIf="dslam_show_info.telecom_center_info">{{dslam_show_info.telecom_center_info.city_info.text}}</div> <hr />
        <label for="float-input">Telecom:</label>
        <div class="p-d-flex" *ngIf="dslam_show_info.telecom_center_info">{{dslam_show_info.telecom_center_info.name}}</div> <hr />
        <label for="float-input">FQDN:</label>
        <div class="p-d-flex">{{dslam_show_info.fqdn}}</div> <hr />
        <label for="float-input">DSLAM long:</label>
        <div class="p-d-flex"></div> <hr />
      </span>
    </div>
    <div class="col-md-6">
      <span style="text-align: center; font-family: Iranian_Sans;">
        <label for="float-input">DSLAM Type:</label>
        <div class="p-d-flex" *ngIf="dslam_show_info.dslam_type_info">{{dslam_show_info.dslam_type_info.name}}</div> <hr />
        <label for="float-input">Set Snmp Community:</label>
        <div class="p-d-flex">{{dslam_show_info.set_snmp_community}}</div> <hr />
        <label for="float-input">Telnet Password:</label>
        <div class="p-d-flex">{{dslam_show_info.telnet_password}}</div> <hr />
        <label for="float-input">Snmp Port:</label>
        <div class="p-d-flex">{{dslam_show_info.snmp_port}}</div> <hr />
        <label for="float-input">City:</label>
        <div class="p-d-flex" *ngIf="dslam_show_info.telecom_center_info">{{dslam_show_info.telecom_center_info.city_info.name}}</div> <hr />
        <label for="float-input">Snmp Timeout:</label>
        <div class="p-d-flex">{{dslam_show_info.snmp_timeout}}</div> <hr />
        <label for="float-input">Connection Type:</label>
        <div class="p-d-flex">{{dslam_show_info.conn_type}}</div> <hr />
        <label for="float-input">DSLAM lat:</label>
        <div class="p-d-flex"></div> <hr />
      </span>
    </div>
  </div>
</div>
</p-dialog>
<!--DLSMAS Delete-------------------------------------------------------->
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<div style="position: absolute; z-index: 1000; margin-top: 15%;margin-left: 45%;">
  <p-progressSpinner *ngIf="progressSpinner"></p-progressSpinner>
</div>

<!--DLSMAS Panel-------------------------------------------------------->
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header" style="text-align: center;" *ngIf="permission.permissions">
        DLSMAS Panel
        <span *ngIf="permission.permissions.includes('add_dslam') || permission.user_type == 'ADMIN'">
          <i class="pi pi-plus-circle" style="font-size: 2rem; float: right; cursor: pointer;" pTooltip="Add Dslam"
            tooltipPosition="left" (click)="show_add_dslam()"></i>
        </span>
      </div>
      <div>
        <div class="disabled" *ngIf = "progressSpinner"></div>
        <p-fieldset   [toggleable]="true" [collapsed]="true"  [transitionOptions]="'200ms'">               
          <p-header>DSLAM Search</p-header>
       <!--<table style="width: 1000px; margin: 10px;">
          <thead>
            <tr class="row-accessories border" style="margin: 10px;" >
              <th>
                <input pInputText type="text" [(ngModel)]="province" (keyup)="get_dslam_info(province,3)"
                  placeholder="Search by Province" class="p-column-filter" style="margin: 10px;"
                  pTooltip="Search by Province" tooltipPosition="top">
              </th>
              <th>
                <input pInputText type="text" [(ngModel)]="city" (keyup)="get_dslam_info(city,4)"
                  placeholder="Search by City" class="p-column-filter" style="margin: 10px;" pTooltip="Search by City"
                  tooltipPosition="top">
              </th>
              <th>
                <input pInputText type="text" [(ngModel)]="dslam" (keyup)="get_dslam_info(dslam,1)"
                  placeholder="Search by Name" class="p-column-filter" style="margin: 10px;" pTooltip="Search by Name"
                  tooltipPosition="top">
              </th>
              <th>
                <input pInputText type="text" [(ngModel)]="ip" (keyup)="get_dslam_info(ip,2)"
                  placeholder="Search by IP" class="p-column-filter" style="margin: 10px;" pTooltip="Search by IP"
                  tooltipPosition="top">
              </th>
            </tr>
          </thead>
        </table>--> 
        <p-table styleClass="p-datatable-striped" #dt1 [value]="listDslams" selectionMode="single" >
          <ng-template pTemplate="header">
            <tr class="row-accessories border" style="margin: 10px;" >
              <th>
                <input pInputText type="text" [(ngModel)]="province" (keyup)="get_dslam_info(province,3)"
                  placeholder="Search by Province" class="p-column-filter" style="margin: 10px;"
                  pTooltip="Search by Province" tooltipPosition="top">
              </th>
              <th>
                <input pInputText type="text" [(ngModel)]="city" (keyup)="get_dslam_info(city,4)"
                  placeholder="Search by City" class="p-column-filter" style="margin: 10px;" pTooltip="Search by City"
                  tooltipPosition="top">
              </th>
              <th>
                <input pInputText type="text" [(ngModel)]="dslam" (keyup)="get_dslam_info(dslam,1)"
                  placeholder="Search by Name" class="p-column-filter" style="margin: 10px;" pTooltip="Search by Name"
                  tooltipPosition="top">
              </th>
              <th>
                <input pInputText type="text" [(ngModel)]="ip" (keyup)="get_dslam_info(ip,2)"
                  placeholder="Search by IP" class="p-column-filter" style="margin: 10px;" pTooltip="Search by IP"
                  tooltipPosition="top">
              </th>
              <th>
                <p-autoComplete [(ngModel)]="dslam_type" placeholder="Dslam Type" [suggestions]="listDslamType"
                (completeMethod)="get_dslam_types()" class="p-column-filter" (onSelect)="get_dslam_info(dslam_type,5)" field="name" dataKey="id">
                </p-autoComplete>
              </th>
            </tr>
          </ng-template>
        </p-table>
        </p-fieldset>
      </div>
      <div class="card-body" class="border" style="margin: 10px;" >
        <p-table styleClass="p-datatable-striped" #dt1 [value]="listDslams" selectionMode="single" >
          <ng-template pTemplate="header">

            <tr class="row-accessories">
              <th pSortableColumn="name">DSLAM<p-sortIcon field="name" style="text-align: center;"></p-sortIcon>
              </th>
              <th pSortableColumn="hostname">IP <p-sortIcon field="ip"></p-sortIcon>
              </th>
              <th pSortableColumn="telecom_center_info.name">Telecom <p-sortIcon field="name"></p-sortIcon>
              </th>
              <th pSortableColumn="telecom_center_info.city_info.name">City<p-sortIcon field="name"></p-sortIcon>
              </th>
              <th pSortableColumn="dslam.dslam_type_info.name">Dslam Type<p-sortIcon field="name"></p-sortIcon>
              </th>
              <th pSortableColumn="uptime">Up Time<p-sortIcon field="name"></p-sortIcon>
              </th>
              <th pSortableColumn="dslam_availability">Availability<p-sortIcon field="name"></p-sortIcon>
              </th>
              <th>Total/Up/Down<p-sortIcon field="name"></p-sortIcon>
              </th>
              <th pSortableColumn="address">Status<p-sortIcon field="name"></p-sortIcon>
              </th>
              <th pSortableColumn="address">Active<p-sortIcon field="name"></p-sortIcon>
              </th>
              <th pSortableColumn="address" *ngIf="is_ldap_login && view_actions">Action<p-sortIcon field="name"></p-sortIcon>
              </th>
              <th pSortableColumn="address" *ngIf="!is_ldap_login">Action<p-sortIcon field="name"></p-sortIcon>
              </th>

          </ng-template>
          <ng-template pTemplate="body" let-dslam>
            <tr>
              <td class="text-center" ><a class="btn btn-sm btn-outline-primary" [routerLink]="['/dslam/dslamOperation']"
                  [queryParams]="{dslamId:dslam.id}">{{dslam.name}}</a></td>
              <td class="text-center">{{dslam.ip}}</td>
              <td class="text-center">{{dslam.telecom_center_info.name}}</td>
              <td class="text-center"><pre *ngIf="dslam.telecom_center_info.city_info">{{dslam.telecom_center_info.city_info.name}}</pre></td>
              <td class="text-center"><pre *ngIf="dslam.dslam_type_info">{{dslam.dslam_type_info.name}}</pre></td>
              <td class="text-center">{{dslam.status}}</td>
              <td class="text-center">{{dslam.dslam_availability}}</td>
              <td class="text-center">{{dslam.total_ports_count}}/{{dslam.up_ports_count}}/{{dslam.down_ports_count}}
              </td>

              <td class="text-center">
                <img *ngIf="dslam.status == 'updating'" src="\assets\img\brand\updating.gif" width="30"
                  pTooltip="Updating" tooltipPosition="top" />
                <img *ngIf="dslam.status == 'ready'" src="\assets\img\brand\ready.png" width="30" title="ready"
                  pTooltip="ready" tooltipPosition="top" />
                <img *ngIf="dslam.status == 'new'" src="\assets\img\brand\new.png" width="30" title="new" pTooltip="New"
                  tooltipPosition="top" />
                <img *ngIf="dslam.status == 'error'" src="\assets\img\brand\error.png" width="20" title="error"
                  pTooltip="Error" tooltipPosition="top" />

              </td>
              <td class="text-center">

                <img *ngIf="dslam.active" src="\assets\img\brand\true.png" width="20" title="Active" pTooltip="Active"
                  tooltipPosition="top" />
                <img *ngIf="!dslam.active" src="\assets\img\brand\false.png" width="20" title="Inactive"
                  pTooltip="Inactive" tooltipPosition="top" />

              </td>
              <td class="text-center" *ngIf="is_ldap_login && view_actions">
                <div class="col-md-12" style="padding-left: 40%">
                  <div class="row" *ngIf="permission.permissions">
                    <img *ngIf="permission.permissions.includes('view_dslam') || permission.user_type == 'ADMIN'" src="\assets\img\brand\info_icon.png" (click)="show_dslam_info(dslam.id)" width="20" pTooltip="Dslam info" tooltipPosition="top"
                      style="cursor: pointer; margin: 5px;" />
                    <img *ngIf="permission.permissions.includes('edit_dslam') || permission.user_type == 'ADMIN'" src="\assets\img\brand\edit_icon.png" (click)="edit_dslam(dslam.id)" width="20"
                      pTooltip="Dslam Edit" tooltipPosition="top" style="cursor: pointer;margin: 5px;" />
                    <img *ngIf="permission.permissions.includes('delete_dslam') || permission.user_type == 'ADMIN'" src="\assets\img\brand\remove_icon.png" width="20" pTooltip="Remove Dslam"
                      tooltipPosition="top" style="cursor: pointer;margin: 5px;" label="Confirm" (click)="remove_dslam(dslam.id)" />
                  </div>
                </div>
              </td>
              <td class="text-center" *ngIf="!is_ldap_login">
                <div class="col-md-12" style="padding-left: 40%">
                  <div class="row" *ngIf="permission.permissions">
                    <img *ngIf="permission.permissions.includes('view_dslam') || permission.user_type == 'ADMIN'" src="\assets\img\brand\info_icon.png" (click)="show_dslam_info(dslam.id)" width="20" pTooltip="Dslam info" tooltipPosition="top"
                      style="cursor: pointer; margin: 5px;" />
                    <img *ngIf="permission.permissions.includes('edit_dslam') || permission.user_type == 'ADMIN'" src="\assets\img\brand\edit_icon.png" (click)="edit_dslam(dslam.id)" width="20"
                      pTooltip="Dslam Edit" tooltipPosition="top" style="cursor: pointer;margin: 5px;" />
                    <img *ngIf="permission.permissions.includes('delete_dslam') || permission.user_type == 'ADMIN'" src="\assets\img\brand\remove_icon.png" width="20" pTooltip="Remove Dslam"
                      tooltipPosition="top" style="cursor: pointer;margin: 5px;" label="Confirm" (click)="remove_dslam(dslam.id)" />
                  </div>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
        <p-paginator [rows]="10" [totalRecords]="pagination_config.totalItems" (onPageChange)="paginate($event)"
          [rowsPerPageOptions]="[10,20,30]"></p-paginator>
      </div>
    </div>
  </div>
</div>




<!-- <div style="font-family: 'IRANSansWebFaNum' !important; margin: 10px; border-style: double; padding: 5px;">
  پهنای باند اختصاصی چیست؟

  سرویسی اختصاصی است که به یک سازمان یا نهاد اختصاص می‌یابد. آن دسته از شرکت‌هایی که بسیار بزرگ هستند و نیاز زیادی به اینترنت پرسرعت دارند، از پهنای باند اختصاصی یا Dedicated Bandwidth استفاده می‌کنند. مزیت این سرویس عدم نوسان سرعت است. یعنی سرعت در هر ساعت از شبانه روز در حالتی ثابت می‌ماند. همچنین پهنای باند اختصاصی برای شرکت‌هایی مناسب است که مشکل ترافیک مصرفی دارند. در این سرویس دیگر نیازی نیست که شرکت‌ها نگران حجم مصرفی اینترنت خود باشند.
  
  پهنای باند در واقع مقدار اطلاعاتی است که می‌تواند از طریق اینترنت منتقل شود. این مقدار ممکن است در عمل و در تئوری متفاوت از هم باشد که این امر به خاطر برخی موارد مانند خط تلفن و دستگاه‌های ارتباطی ما به وجود می آید. این امر باعث می شود پهنای باند در عمل ظرفیتش کمتر از آن چیزی باشد که در تئوری وجود دارد و در واقع نمی‌تواند از حداکثر توان خود استفاده کند.
    


<div class="images-box row" style="font-family: 'IRANSansWebFaNum' !important; margin: 10px; border-style: double; padding: 5px;">
 
<p>
  تحلیلگر بلومبرگ در یادداشتی می‌نویسد هدست واقعیت ترکیبی اپل حتی درصورت معرفی‌نشدن در WWDC 2022، می‌تواند در نقش ستاره‌ی اصلی مراسم ظاهر شود. اپل نطق اصلی WWDC را دوشنبه‌شب برگزار می‌کند.
</p>
<div>
  اپل دوشنبه‌شب به‌وقت تهران کنفرانس جهانی توسعه‌دهندگان موسوم به WWDC 2022 را برای معرفی iOS 16 ،iPadOS 16 ،tvOS 16 ،watchOS 9 و macOS 13 برگزار می‌کند؛ بااین‌حال به‌نوشته‌ی مارک گارمن در بلومبرگ، هدست مورد‌انتظار اپل که مبتنی‌بر فناور‌ی‌های واقعیت افزوده و واقعیت مجازی است، صرف‌نظر از حضور یافتن یا نیافتن در WWDC می‌تواند تمام توجهات را به خود جلب کند.

مارک گارمن می‌گوید در فاصله‌ی کمتر از ۲۴ ساعت مانده به مراسم بزرگ اپل همچنان هیچ‌کس با قطعیت نمی‌داند که کوپرتینویی‌ها در WWDC هدست واقعیت ترکیبی خود را رونمایی می‌کنند یا خیر. اکنون هیجان برای محصول بزرگ بعدی اپل به بیشترین حد رسیده است و بسیاری از توسعه‌دهندگان، مشتریان و حتی مهندسان اپل منتظرند رونمایی رسمی هدست واقعیت ترکیبی هستند. اپل در بدترین حالت ممکن به‌صورت خلاصه‌وار به هدست جدید خود اشاره خواهد کرد؛ ولی همچنان احتمال رونمایی کامل محصول در WWDC وجود دارد. 
</div>
<table>
  <tr>
    <td><img class="alignnone size-full wp-image-15" style="margin: 5px;" src="http://shervinpardaznj.ir/wp-content/uploads/2021/03/b_details02.jpg" alt="" width="255" height="276" />
    </td>
    <td>
      <img class="alignnone size-full wp-image-15" style="margin: 5px;" src="http://shervinpardaznj.ir/wp-content/uploads/2021/03/b_details02.jpg" alt="" width="255" height="276" />
    </td>
  </tr>
</table>

<p>
  اپل در هدست واقعیت ترکیبی خود اِلِمان‌های واقعیت مجازی و واقعیت افزوده را ترکیب می‌کند تا محصولی برای رقابت نزدیک با متا (شرکت مادر فیسبوک) بسازد. به‌تازگی شرکتی ناشناس علامت تجاری جدیدی به نام realityOS ثبت کرده که ظاهراً مربوط به سیستم‌عامل هدست اپل است.

در‌ظاهر اپل ارتباطی با این علامت تجاری ندارد؛ اما فراموش نکنید شرکت‌هایی مثل اپل همواره برای ثبت علائم تجاری از شرکت‌های کاغذی استفاده می‌کنند. در این زمینه، به‌نظر می‌رسد اپل شرکتی کاغذی با عنوان Realityo Systems LLC را بنیان‌گذاری و ازطریق این شرکت علامت تجاری realityOS را ثبت کرده است.

یک زن با هدست واقعیت مجازی افزوده ترکیبی اپل / Apple طرح غیررسمی
</p>
</div>



<div style="font-family: 'IRANSansWebFaNum' !important;margin: 5px;">
  <div class="images-box row">
    <div class="column col-lg-4 col-md-4 col-sm-4 wow fadeInRight pro-col" style="visibility: visible; animation-name: fadeInRight;"></div>
    <div class="column col-lg-8 col-md-8 col-sm-8 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
    <figure class="image wow fadeIn" style="visibility: visible; animation-name: fadeIn;"><img class="alignnone wp-image-1363 size-medium" src="http://sibanet.ir/wp-content/uploads/2022/06/td-lte2-300x238.jpg" alt="" width="300" height="238" /></figure>
    </div>
    </div>
    <div class="content-box">
    <h2> اینترنت پرسرعت برج‌ها و مجتمع‌ها</h2>

    سرویس اینترنت مرکزی ویژه برج ها و مجتمع های مسکونی و تجاری خدمتی دیگر از گروه شروین پرداز می باشد که با تکیه بر دانش فنی و در اختیار داشتن متخصصین مجرب، این مراکز را با ارائه ی پهنای باند مناسب به سوی خدماتی با کیفیت سوق می دهد که از جمله ویژگی های این نوع سرویس دهی می توان به موارد ذیل اشاره نمود:    <!-- Two Column -->
    <!-- <div class="two-column">
    <div class="row">
    <div class="text-column col-xl-6 col-lg-12 col-md-12">
    <h3>
      مزایای استفاده از اینترنت برج و مجتمع   
     </h3>

        <ul class="list-style-one">
          <li>عدم وابستگی به مرکز مخابراتی</li>
          <li>راه اندازی بر روی خطوط مسی، فیبر نوری و PCM</li>
          <li>عدم اتلاف زمان در راه اندازی سرویس اینترنت</li>
          <li>کیفیت بسیار بالا به علت فاصله ی کوتاه تجهیزات ارتباطی</li>
          <li>پشتیبانی ۲۴ ساعته</li>
          <li>به کارگیری تجهیزات رایگان</li>
          <li>بهره مندی از امتیاز کاربران ویژه جهت پشتیبانی فنی</li>
          <li>امتیاز استفاده از جشنواره های ویژه مجتمع ها</li>
          <li>عدم نیاز به پرداخت هزینه ی تلفن و آبونمان مخابرات</li>
          <li>امکان تمدید اشتراک آنلاین</li>
    </ul>
    </div>
    <div class="image-column col-xl-6 col-lg-12 col-md-12">
    <figure class="image"><img class="alignnone wp-image-1362 size-medium" src="http://sibanet.ir/wp-content/uploads/2022/06/TD-LTE-300x238.jpg" alt="" width="300" height="238" /></figure>
    </div>
    </div>
    </div>
    <h3>تجهیزات مورد نیاز برای استفاده از اینترنت نسل چهارم ثابت</h3>
    همان طور که گفته شد، تکنولوژی اینترنت تی دی ال تی نیازی به خط ثابت تلفن ندارد و به جای آن از سیم کارت‌های مخصوصی استفاده می‌کند که برای همین کاربرد طراحی شده‌اند. در واقع با این سیم کارت‌ها نمی‌توان مانند سیم کارت‌های معمولی با تلفن‌های دیگر تماس گرفت یا برای دیگران پیامک فرستاد. این سیم کارت‌ها را باید در زمان خرید سرویس  TD-LTEاز شرکت‌های ارائه‌دهنده خدمات اینترنتی تهیه کنید.

    خوشبختانه برای استفاده از اینترنت TD-LTE علاوه بر سیم کارت مخصوص فقط به یک مودم نیاز است. البته این مودم نیز با مودم‌های دیگر فرق دارد و یک مودم مخصوص است. اتصال به این مودم‌ها هم از طریق کابل و هم وای فای امکان پذیر است. در واقع شرکت‌های ارائه دهنده خدمات اینترنتی به جهت خاص بودن مودم و سیم کارت این نوع اینترنت، آن‌ها را برای مشترکان خود تهیه کرده و در صورت درخواست در اختیارشان قرار می‌دهند.    
   
    </div>
</div> --> 

