<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" style="text-align: center;">
                Subscribers Panel
                <i class="pi pi-plus-circle" style="font-size: 2rem; float: right; cursor: pointer;" pTooltip="Add subs"
            tooltipPosition="left" (click)="add_subs()"></i>
            </div>

<!-- Search------------------------------------------------------------------------------------------ -->
        <div>
            <p-fieldset   [toggleable]="true" [collapsed]="true"  [transitionOptions]="'200ms'">               
                <p-header>Subscriber Search Panel</p-header>
                <div class="col col-accessories border">
                    <p-table styleClass="p-datatable-striped" #dt1 [value]="subs" selectionMode="single" >
                        <ng-template pTemplate="header">
                            
                            <tr>
                                <div class="row-md-3">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <th>
                                                <input pInputText type="text" (input)="dt1.filter($event.target.value, 'username', 'contains')" [value]="dt1.filters['username']?.value" placeholder="Search by Username" class="p-column-filter" style="margin: 10px;">
                                            </th>
                                        </div>
                                        <div class="col-md-4">
                                            <th>
                                                <input pInputText type="text" (input)="dt1.filter($event.target.value, 'identifier_key', 'contains')" [value]="dt1.filters['identifier_key']?.value" placeholder="Search by Identifier Key" class="p-column-filter" style="margin: 10px;">
                                            </th>
                                        </div>
                                        <div class="col-md-4">
                                            <th>
                                                <input pInputText type="text" (input)="dt1.filter($event.target.value, 'firstname', 'contains')" [value]="dt1.filters['firstname']?.value" placeholder="Search by Name" class="p-column-filter" style="margin: 10px;">
                                            </th>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <th>
                                                <input pInputText type="text" (input)="dt1.filter($event.target.value, 'lastname', 'contains')" [value]="dt1.filters['lastname']?.value" placeholder="Search by Last Name" class="p-column-filter" style="margin: 10px;">
                                            </th>
                                        </div>
                                        <div class="col-md-4">
                                            <th>
                                                <input pInputText type="text" (input)="dt1.filter($event.target.value, 'email', 'contains')" [value]="dt1.filters['email']?.value" placeholder="Search by Email" class="p-column-filter" style="margin: 10px;">
                                            </th>
                                        </div>
                                        <div class="col-md-4">
                                            <th>
                                                <input pInputText type="text" (input)="dt1.filter($event.target.value, 'tel', 'contains')" [value]="dt1.filters['tel']?.value" placeholder="Search by Tel" class="p-column-filter" style="margin: 10px;">
                                            </th>
                                        </div>
                                    </div >
                                    <div class="row">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-4">
                                            <th>
                                                <input pInputText type="text" (input)="dt1.filter($event.target.value, 'national_code', 'contains')" [value]="dt1.filters['national_code']?.value" placeholder="Search by National Code" class="p-column-filter" style="margin: 10px;">
                                            </th>
                                        </div>
                                        <div class="col-md-4"></div>
                                    </div>
                                </div>
                            </tr>
                        
                        </ng-template>
                    </p-table>
                </div>
            </p-fieldset>
        </div>

<!-- End---------------------------------------------------------------------------------------------- -->
<!-- Main--------------------------------------------------------------------------------------------- -->

            <div class="card-body" class="border" style="margin: 10px;">
                <p-table styleClass="p-datatable-striped" #dt1 [value]="subs" selectionMode="single">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>ID</th>
                            <th>User Name</th>
                            <th>Identifier Key</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Tel</th>
                            <th>Mobile</th>
                            <th>National Code</th>
                            <th>Action</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-sub>
                        <tr>
                            <td class="text-center">{{sub.id}}</td>
                            <td class="text-center">{{sub.username}}</td>
                            <td class="text-center">{{sub.identifier_key}}</td>
                            <td class="text-center">{{sub.firstname}}</td>
                            <td class="text-center">{{sub.lastname}}</td>
                            <td class="text-center">{{sub.email}}</td>
                            <td class="text-center">{{sub.tel}}</td>
                            <td class="text-center">{{sub.mobile}}</td>
                            <td class="text-center">{{sub.nationalcode}}</td>
                            <td class="text-center">
                                <div class="col-md-12" style="padding-left: 40%">
                                    <div class="row">
                                        <img src="\assets\img\brand\remove_icon.png" width="20" pTooltip="Remove subscriber"
                                            tooltipPosition="top" style="cursor: pointer;margin: 5px;" label="Confirm"
                                            (click)="remove_subscriber(sub.id)" />
                                        <img src="\assets\img\brand\edit_icon.png" (click)="edit_subscriber(sub.id)" width="20"
                                        pTooltip="Subscriber Edit" tooltipPosition="top" style="cursor: pointer;margin: 5px;" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <p-paginator [rows]="10" [totalRecords]="pagination_config.totalItems" (onPageChange)="paginate($event)"
                    [rowsPerPageOptions]="[10,20,30]">
                </p-paginator>
            </div>
        </div>
    </div>
</div>

<!------------------------------ Edit ----------------------------------------------------------------->

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-dialog header="Subscriber Edit" [(visible)]="displayMaximizable" [modal]="true" [style]="{width: '50vw'}"
  [maximizable]="true" [baseZIndex]="10000" [draggable]="true" [resizable]="false">
    <div class="border-info" style="padding: 10px;">
        <form>
            <div class="row">
                    <div class="col-md-6">
                    <hr>
                    <span class="p-float-label" style="margin-bottom: 10px;">
                        <input id="float-input" [(ngModel)]="subs_edit.firstname" [ngModelOptions]="{standalone: true}" type="text" pInputText [value]="subs_edit.firstname">
                        <label for="float-input">First name</label>
                    </span>
                    <hr>
                    <span class="p-float-label" style="margin-bottom: 10px;">
                        <input id="float-input" [(ngModel)]="subs_edit.lastname" [ngModelOptions]="{standalone: true}" type="text" pInputText [value]="subs_edit.lastname">
                        <label for="float-input">Last name</label>
                    </span>
                    <hr>
                    <span class="p-float-label" style="margin-bottom: 20px;">
                        <input id="float-input" [(ngModel)]="subs_edit.username" [ngModelOptions]="{standalone: true}" type="text" pInputText [value]="subs_edit.username">
                        <label for="float-input">User name</label>
                    </span>
                </div>
                <div class="col-md-6">
                    <hr>
                    <span class="p-float-label" style="margin-bottom: 20px;">
                        <input id="float-input" [(ngModel)]="subs_edit.tel" [ngModelOptions]="{standalone: true}" type="text" pInputText [value]="subs_edit.tel">
                        <label for="float-input">Tel</label>
                    </span>
                    <hr>
                    <span class="p-float-label" style="margin-bottom: 20px;">
                        <input id="float-input" [(ngModel)]="subs_edit.email" [ngModelOptions]="{standalone: true}" type="text" pInputText [value]="subs_edit.email">
                        <label for="float-input">Email</label>
                    </span>
                    <hr>
                    <span class="p-float-label" style="margin-bottom: 20px;">
                        <input id="float-input" [(ngModel)]="subs_edit.national_code" [ngModelOptions]="{standalone: true}" type="text" pInputText [value]="subs_edit.national_code">
                        <label for="float-input">National Code</label>
                    </span>
                    <hr>
                    <span class="p-float-label" style="margin-bottom: 20px;">
                        <input id="float-input" [(ngModel)]="subs_edit.mobile" [ngModelOptions]="{standalone: true}" type="text" pInputText [value]="subs_edit.mobile">
                        <label for="float-input">Mobile</label>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <ng-template pTemplate="footer">
      <p-button icon="pi pi-check" (click)="apply_edit(sub_edit)" label="Edit" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>       

<!-- End---------------------------------------------------------------------------------------------- -->
<!-- Add Subscriber----------------------------------------------------------------------------------- -->

<p-dialog header="Add subs" [(visible)]="displayMaximizable_add" [modal]="true" [style]="{width: '50vw'}"
  [maximizable]="true" [baseZIndex]="10001" [draggable]="false" [resizable]="false">
    <form [formGroup]="add_subs_from" (ngSubmit)="apply_add_subs(this.add_subs_from)">
        
        <div *ngIf = "step == 1">
            <div class="row">
                <div class="col-md-6">
                    <span class="p-float-label" style="margin-top: 20px;">
                        <input id="float-input" formControlName="username" type="text" pInputText>
                        <label for="float-input">Username</label>
                    </span>
                    <span class="p-float-label" style="margin-top: 20px;">
                        <input id="float-input" formControlName="lastname" type="text" pInputText>
                        <label for="float-input">Last Name</label>
                    </span>
                    <span class="p-float-label" style="margin-top: 20px;">
                        <input id="float-input" formControlName="firstname" type="text" pInputText>
                        <label for="float-input">First name</label>
                    </span>
                </div>
                <div class="col-md-6">
                    <span class="p-float-label" style="margin-top: 20px;">
                        <input id="float-input" formControlName="national_code" type="text" pInputText>
                        <label for="float-input">National Code</label>
                    </span>
                    <span class="p-float-label" style="margin-top: 20px;">
                        <input id="float-input" formControlName="mobile" type="text" pInputText>
                        <label for="float-input">Mobile</label>
                    </span>
                    <div style="margin-top: 10%;">
                        <p-button icon="pi pi-check" type="submit" label="Next" (onClick)="nextPage()" styleClass="p-button-text" *ngIf = "step == 1"></p-button>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf = "step == 2">
            <p-autoComplete formControlName="city_info"  placeholder="Province" [suggestions]="listprov"
                (completeMethod)="getProvinces($event)" (onSelect)="get_province_id($event)" dataKey="id"  [dropdown]="true" field="text">
            </p-autoComplete>
            <p-autoComplete 
                (completeMethod)="get_cities_by_province_id($event)" formControlName="city_info" (onSelect)="get_city($event)" placeholder="city" [suggestions]="listCites" [dropdown]="true" field="name" dataKey="id">
            </p-autoComplete>
            <br>
            <div class="row" style="margin-top: 5%;">
                <div class="col-md-6">
                    <ng-autocomplete [data]="vlans" [searchKeyword]="vlan_keyword" placeHolder="Vlan"
                    (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event,1)'
                    (inputFocused)='onFocused($event,1)' historyIdentifier="vlans" [itemTemplate]="itemTemplate"
                    [notFoundTemplate]="notFoundTemplate" formControlName="vlan">
                    </ng-autocomplete>
                    <ng-template #itemTemplate let-vlan>
                        <a [innerHTML]="vlan.vlan_name"></a>
                    </ng-template>
                </div>
                <div class="col-md-6">
                    <ng-autocomplete [data]="listResellers" [searchKeyword]="reseller_keyword" placeHolder="Resseler"
                                (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event,2)'
                                (inputFocused)='onFocused($event,2)' historyIdentifier="listResellers" [itemTemplate]="resellerTemplate"
                                [notFoundTemplate]="notFoundTemplate" formControlName="reseller">
                    </ng-autocomplete>
                    <ng-template #resellerTemplate let-listReseller>
                        <a [innerHTML]="listReseller.name"></a>
                    </ng-template>
                </div>
            </div>
            <div class="row" style="margin-top: 5%;">
                <div class="col-md-6">
                    <ng-autocomplete [data]="telecom_centers" [searchKeyword]="telecomcenter_keyword" placeHolder="Telecom center"
                    (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event,3)'
                    (inputFocused)='onFocused($event,1)' historyIdentifier="telecom_centers" [itemTemplate]="telecomeTemplate"
                    [notFoundTemplate]="notFoundTemplate" formControlName="vlan">
                    </ng-autocomplete>
                    <ng-template #itemTemplate let-telecom_center>
                        <a [innerHTML]="telecom_center.name"></a>
                    </ng-template>
                </div>
                <div class="col-md-6">
                    <span class="p-float-label" style="margin-top: 20px;">
                        <input id="float-input" formControlName="identifier_key" type="text" pInputText>
                        <label for="float-input">Identifier Key</label>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p-button icon="pi pi-times" type="submit" label="Back" (onClick)="previous()" styleClass="p-button-text" *ngIf = "step == 2"></p-button>
                </div>
                <div class="col-md-6">
                    <p-button icon="pi pi-check" type="submit" label="Submit" styleClass="p-button-text"></p-button>
                </div>
            </div>
        </div>
    </form>
</p-dialog>

<!-- ------------------------------------------------------------------------------------------------ -->