<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" style="text-align: center;">
                Vlan Management Panel
            </div>
<!-- Search------------------------------------------------------------------------------------------ -->
            
            <p-tabView>
                <p-tabPanel header="Search Vlan">
                    <p-fieldset [toggleable]="true" [collapsed]="true" [transitionOptions]="'200ms'">
                        <p-header>Vlan Search</p-header>
                        <p-table styleClass="p-datatable-striped" #dt1 [value]="vlans" selectionMode="single">
                            <ng-template pTemplate="header">
                                <tr class="row-accessories border" style="margin: 10px;">
                                    <th>
                                        <input pInputText type="text" [(ngModel)]="vlan_id"
                                            (keyup)="search_vlans(vlan_id,2)" placeholder="Search by Vlan ID"
                                            class="p-column-filter" style="margin: 10px;" pTooltip="Search by Vlan ID"
                                            tooltipPosition="top">
                                    </th>
                                    <th>
                                        <input pInputText type="text" [(ngModel)]="vlan_name"
                                            (keyup)="search_vlans(vlan_name,3)" placeholder="Search by name"
                                            class="p-column-filter" style="margin: 10px;" pTooltip="Search by name"
                                            tooltipPosition="top">
                                    </th>
                                </tr>
                            </ng-template>
                        </p-table>
                    </p-fieldset>
                </p-tabPanel>

<!-- ------------------------------------------------------------------------------------------------ -->
<!-- Create -------------------------------------------------------------------------------------------->

                <p-tabPanel header="Create Vlan">
                    <div class="border-info" style="padding: 10px;">
                        <form [formGroup]="form" #f="ngForm" (ngSubmit)="create_vlan(this.form)">
                            <div class="row">
                                <div class="col-md-4">
                                    <span class="p-float-label" style="margin: 20px;">
                                        <input id="float-input" type="text" pInputText formControlName="vlan_id" placeholder="Vlan ID">
                                    </span>
                                </div>
                                <div class="col-md-4">
                                    <span class="p-float-label" style="margin: 20px;">
                                        <input id="float-input" type="text" pInputText formControlName="vlan_name" placeholder="Valn Name">
                                    </span>
                                </div>
                                <div class="col-md-4" style="margin-top: 10px;">
                                    <span>
                                        <button pButton type="submit" label="Submit"></button>
                                    </span>
                                </div>
                            </div>
                            <ng-template pTemplate="footer">
                            </ng-template>
                        </form>
                    </div>
                </p-tabPanel>

<!-- ------------------------------------------------------------------------------------------------ -->
<!-- Assign Vlan to Reseller --------------------------------------------------------------------------->

                <p-tabPanel header="Assign Vlan to reseller">
                    <div class="border-info" style="padding: 10px;">
                        <form [formGroup]="assigne_form" #f="ngForm" (ngSubmit)="AssignValnToReseller(this.assigne_form)">
                            <div class="row">
                                <div class="col-md-4">
                                    <ng-autocomplete [data]="vlans" [searchKeyword]="vlan_keyword" placeHolder="Vlan Name"
                                                (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event,1)'
                                                (inputFocused)='onFocused($event,1)' historyIdentifier="vlans" [itemTemplate]="itemTemplate"
                                                [notFoundTemplate]="notFoundTemplate" formControlName="f_vlan_name">
                                    </ng-autocomplete>
                                    <ng-template #itemTemplate let-vlan>
                                        <a [innerHTML]="vlan.vlan_name"></a>
                                    </ng-template>
                                </div>
                                <div class="col-md-4">
                                    <ng-autocomplete [data]="listResellers" [searchKeyword]="reseller_keyword" placeHolder="Resseler"
                                                (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event,2)'
                                                (inputFocused)='onFocused($event,2)' historyIdentifier="listResellers" [itemTemplate]="resellerTemplate"
                                                [notFoundTemplate]="notFoundTemplate" formControlName="reseller">
                                    </ng-autocomplete>
                                    <ng-template #resellerTemplate let-listReseller>
                                        <a [innerHTML]="listReseller.name"></a>
                                    </ng-template>
                                </div>
                                <div class="col-md-4">
                                    <span style="margin-top: 5%;">
                                        <button pButton type="submit" label="Submit"></button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </p-tabPanel>

<!-- ------------------------------------------------------------------------------------------------ -->
<!-- Assign Vlan to Subscriber ------------------------------------------------------------------------->

                <p-tabPanel header="Assign Vlan to Subscribers">
                    <div class="border-info" style="padding: 10px;">
                        <form [formGroup]="assigne_form_subs" #f="ngForm" (ngSubmit)="assign_vlan_to_subscriber(this.assigne_form)">
                            <div class="row">
                                <div class="col-md-4">
                                    <p-dropdown [options]="filters" [(ngModel)]="selectfilter" (onChange)="get_filter($event)" formControlName="subscriber" optionLabel="name" optionValue="code" (inputChanged)='onSearch($event,optionValue)'></p-dropdown>
                                </div>
                                <div class="col-md-4">
                                    <ng-autocomplete [data]="vlans" [searchKeyword]="vlan_keyword" placeHolder="Vlan Name"
                                                    (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event,1)'
                                                    (inputFocused)='onFocused($event,1)' historyIdentifier="vlans" [itemTemplate]="itemTemplate"
                                                    [notFoundTemplate]="notFoundTemplate" formControlName="form_vlan_name">
                                    </ng-autocomplete>
                                    <ng-template #itemTemplate let-vlan>
                                        <a [innerHTML]="vlan.vlan_name"></a>
                                    </ng-template>
                                </div>
                                <div class="col-md-4">
                                    <span *ngIf = "reseler_obj == true">
                                        <ng-autocomplete [data]="listResellers" [searchKeyword]="reseller_keyword" placeHolder="Resseler"
                                                    (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event,2)'
                                                    (inputFocused)='onFocused($event,2)' historyIdentifier="listResellers" [itemTemplate]="resellerTemplate"
                                                    [notFoundTemplate]="notFoundTemplate">
                                        </ng-autocomplete>
                                        <ng-template #resellerTemplate let-listReseller>
                                            <a [innerHTML]="listReseller.name"></a>
                                        </ng-template>
                                        <p-dropdown [options]="flag" [(ngModel)]="selectfilter" (onChange)="flag_filter($event)" formControlName="subscriber" optionLabel="name" optionValue="code" (inputChanged)='onSearch($event,optionValue)'></p-dropdown>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>  
                </p-tabPanel>
            </p-tabView>

<!-- ----------------------------------------------------------------------------------------------  -->
<!-- Main --------------------------------------------------------------------------------------------->

            <div class="card-body" class="border" style="margin: 10px;">
                <p-table styleClass="p-datatable-striped" #dt1 [value]="vlans" selectionMode="single">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>ID</th>
                            <th>Vlan ID</th>
                            <th>Valn Name</th>
                            <th>Port Count</th>
                            <th>Dslam Count</th>
                            <th>Reseller Name</th>
                            <th>Action</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-vlan>
                        <tr>
                            <td class="text-center">{{vlan.id}}</td>
                            <td class="text-center">{{vlan.vlan_id}}</td>
                            <td class="text-center">{{vlan.vlan_name}}</td>
                            <td class="text-center">{{vlan.ports_count}}</td>
                            <td class="text-center">{{vlan.dslam_count}}</td>
                            <td class="text-center">{{vlan.reseller}}</td>
                            <td class="text-center">
                                <div class="col-md-12" style="padding-left: 40%">
                                    <div class="row">

                                        <img src="\assets\img\brand\remove_icon.png" width="20" pTooltip="Remove vlan"
                                            tooltipPosition="top" style="cursor: pointer;margin: 5px;" label="Confirm"
                                            (click)="remove_vlan(vlan.id)" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <p-paginator [rows]="10" [totalRecords]="pagination_config.totalItems" (onPageChange)="paginate($event)"
                    [rowsPerPageOptions]="[10,20,30]">
                </p-paginator>
            </div>
        </div>
    </div>
    <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
    <div style="position: absolute; z-index: 1000; margin-top: 15%;margin-left: 45%;">
        <p-progressSpinner *ngIf="progressSpinner == true"></p-progressSpinner>
      </div>
<!-- ----------------------------------------------------------------------------------------------- -->