<div class="row" style="direction: rtl; text-align: center;">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
              Pishgaman Note
              <hr />
              <span style="font-size: 2rem; float: right; cursor: pointer;">
                <i class="pi pi-plus-circle"  pTooltip="Add New Problem"  *ngIf="view_notes_edit"
                  tooltipPosition="left" (click)="show_add_new_problem()"></i>
                  <i class="pi pi-refresh" (click)="refresh_problems()"></i>
              </span>
            </div>
            <div class="glowing-border direction" style="direction: ltr;">
                <div class="card-body" *ngFor="let pishgaman_note of pishgaman_notes;">
                    <div class="row problem_detail_header" >
                        <div class="col-md-6" >
                            {{pishgaman_note.register_time | jalali }}
                        </div>
                        <div class="col-md-6">
                            {{pishgaman_note.username}}
                        </div>
                    </div>
                    <div class="row problem_detail_body">
                        <div class="col-md-6">
                            {{pishgaman_note.telecom_center}}
                        </div>
                        <div class="col-md-6" [innerHTML]="pishgaman_note.problem_desc | safeHtml">
                        </div>
                    </div>
                </div>
                <p-paginator [rows]="10" [totalRecords]="pagination_config.totalItems" (onPageChange)="paginate($event)"
                [rowsPerPageOptions]="[10,20,30]"></p-paginator>
                <div class="card-body" *ngIf="view_notes_edit">
                    <p-table [value]="pishgaman_notes" class="table table-striped" responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Telecom Center</th>
                                <th>Status</th>
                                <th>Operator Name</th>
                                <th>Event Date</th>
                                <th>Action</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-pishgaman_note>
                            
                            <tr *ngIf="show_problems">
                                <td class="text-center">{{pishgaman_note.telecom_center}}</td>
                                <td class="text-center" [innerHTML]="pishgaman_note.problem_desc | safeHtml"></td>
                                <td class="text-center">{{pishgaman_note.username}}</td>
                                <td class="text-center">{{pishgaman_note.register_time | jalali}}</td>
                                <td class="text-center">               
                                 <div class="col-md-12" style="padding-left: 40%">
                                    <div class="row">
                                      <img  src="\assets\img\brand\info_icon.png" (click)="show_status_info(pishgaman_note.id)" width="20" pTooltip="Status info" tooltipPosition="top"
                                        style="cursor: pointer; margin: 5px;" />
                                      <img  src="\assets\img\brand\edit_icon.png" (click)="edit_status(pishgaman_note.id)" width="20" pTooltip="Status Edit" tooltipPosition="top"
                                             style="cursor: pointer;margin: 5px;" />
                                    </div>
                                  </div>
                                </td>

                            </tr>
                        </ng-template>
                    </p-table>
                    <p-paginator [rows]="10" [totalRecords]="pagination_config.totalItems" (onPageChange)="paginate($event)"
                    [rowsPerPageOptions]="[10,20,30]"></p-paginator>
                </div>
            </div>
        </div>
    </div>
</div>


<p-dialog header="Add New Problem" [(visible)]="display_add_new_problem" [modal]="true" [style]="{width: '80vw'}"
  [maximizable]="true" [baseZIndex]="10001" [draggable]="false" [resizable]="false">
  <div class="card">
    <div class="glowing-border direction" style="direction: ltr;">
        <div class="card-body border">
            <div class="row">
                <div class="col-md-6">
                    <span class="p-float-label">
                        <input id="float-input" [(ngModel)]="telecom_center"  type="text" pInputText style="width: 80%;"> 
                        <label for="float-input">Telecom Center</label>
                    </span>
                </div>
                <div class="col-md-6">
                    <p-button icon="pi pi-check" type="Button" label="Record and display the problem" styleClass="p-button-text" (click)='save_note()'></p-button>
                </div>
            </div>
            <hr />
            <hr />

            <div class="row">
                <div class="col-md-12">
                    <p-editor (onTextChange)='onTextChange($event)'  [(ngModel)]="problem_description" [style]="{'height':'320px'}"></p-editor>
                </div>
            </div>
        </div>
    </div>
  </div>
  
</p-dialog>



<p-dialog header="Add New Problem" [(visible)]="display_edit_problem" [modal]="true" [style]="{width: '80vw'}"
  [maximizable]="true" [baseZIndex]="10001" [draggable]="false" [resizable]="false">
  <div class="card">
    <div class="glowing-border direction" style="direction: ltr;">
        <div class="card-body border">
            <div class="row">
                <div class="col-md-6">
                    <span class="p-float-label">
                        <input id="float-input" [(ngModel)]="telecom_center"  type="text" pInputText style="width: 80%;"> 
                        <label for="float-input">Telecom Center</label>
                    </span>
                </div>
                <div class="col-md-6">
                    <p-button icon="pi pi-check" type="Button" label="Edit the problem" styleClass="p-button-text" (click)='apply_edit_note()'></p-button>
                </div>
            </div>
            <hr />
            <hr />

            <div class="row">
                <div class="col-md-12">
                    <p-editor (onTextChange)='onTextChange($event)' [(ngModel)]="edited_problem_description" [style]="{'height':'320px'}"></p-editor>
                </div>
            </div>
        </div>
    </div>
  </div>
  
</p-dialog>



